[user]
name = Tudor Achim

[alias]
lf = ls-files
st = status
rfl = reflog --date=local
cp = cherry-pick
ci = commit -v
cia = commit -va
ciam = commit -v --amend
sh = log --stat -n 1
logs = log --stat
d = diff
dk = diff --cached
diffs = diff --stat
erase = !sh -c 'git rebase --onto $0^ $0 HEAD'
head = log -n 1 --pretty=format:%h
b = branch -v
ba = branch -av
co = checkout
zlog = log --graph --all --decorate --pretty=format:'%C(auto)%h - (%ar) %s %d'
tree = log --graph --decorate --pretty=oneline --abbrev-commit
#[commit]
  #template = /home/tudor/.vim/git-commit-template
[branch]
	autosetuprebase = always
[color]
	ui = true
[push]
	default = current
[pull]
	rebase = true
[core]
	attributesfile = /home/tudor/.gitattributes
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
